## 1.first character in string

In [1]:
str1="welcome everyone"
str1[0]

'w'

## 2.last character in string using len function

In [2]:
str1="welcome everyone"
length=len(str1)
str1[length-1]

'e'

## 3.last character in string

In [3]:
str1="welcome everyone"
str1[-1]

'e'

##  4.fetch the 7th element of the string

In [4]:
str1="Python is a programming language"
str1[7]

'i'

##  5.fetch all characters from 0 to 5 index location excluding the character at loc 5.

In [5]:
str1="Python is a programming language"
str1[0:5]

'Pytho'

## 6.retrieve all characters between 6 -12 index ecluding loc 12.

In [6]:
str1="Welcome everyone"
str1[6:12]

'e ever'

## 7.retrieve last four characters of the string

In [7]:
str1="Welcome to the world of Python"
str1[-4:len(str1)]

'thon'

## 8.retrieve last six characters of the string

In [8]:
str1="Welcome to the world of Python"
str1[-6:len(str1)]

'Python'

## 9.retrieve first four characters of the string

In [9]:
str1="Welcome to the world of Python"
str1[0:4]

'Welc'

## Write a program to reverse the string.

In [10]:
str1="Welcome Everyone"
str2=""
l=-1
while l>=-len(str1):
    str2=str2+str1[l]
    l-=1
print(str2)

enoyrevE emocleW

## Write a program to check whether a given string is palindrome or not.

In [11]:
str1=input()
str2=""
l=-1
while l>=-len(str1):
    str2=str2+str1[l]
    l-=1
if str2==str1:
 print("String is a palindrome")
else:
 print("string is not a palindrome")

madam
String is a palindrome

## Write a program to find the length of string without using len function.

In [12]:
str1="Welcome Everyone"
l=0
while str1[l:]:
    l+=1
print(l)

16

"""1.Calculate square  of all numbers between 0-10 using list comprehensions
   2.multiply whole list by 10
   3.extract numbers from a string using list comprehension
   4.Write the program to remove the duplicate element of the list.
   5.Write a program to find the sum of the element in the list.
   6.Write the program to find the lists consist of at least one common element."""

## 1.Calculate square of all numbers between 0-10 using list comprehensions

In [13]:
my_arr = [i**2 for i in range(10)]
print(my_arr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 2.multiply whole list by 10

In [14]:
my_list=[2,4,5,7,8]
res=[i*10 for i in my_list]
print(res)

[20, 40, 50, 70, 80]

## 3.extract numbers from a string using list comprehension

In [15]:
str1="I am 123 and doing 567"
arr_list=[i for i in str1]
print(arr_list)

['I', ' ', 'a', 'm', ' ', '1', '2', '3', ' ', 'a', 'n', 'd', ' ', 'd', 'o', 'i', 'n', 'g', ' ', '5', '6', '7']

## 4.Write the program to remove the duplicate element of the list.

In [16]:
#Remove all the duplicate elements
list1=[98,78,89,78,56,43,66,98]
list2=[i for i in list1 if list1.count(i)<=1]
print(list2)

[89, 56, 43, 66]

In [17]:
#Remove the duplicates
list1=[98,78,89,78,56,43,66,98]
tmp=[]
for i in list1:
    if i in tmp:
        list1.remove(i)
    tmp.append(i) 
print(list1)

[89, 78, 56, 43, 66, 98]

## 5.Write a program to find the sum of the element in the list.

In [18]:
l1=[1,2,3,4,5]
sum=0
i=0
while i<len(l1):
    sum+=l1[i]
    i=i+1
print(sum)

15

## 6.Write the program to find the lists consist of at least one common element.

In [19]:
l2=[2,4,6,8,10,2,3,5,6]
tmp=[]
sum=[]
for i in l2:
    if i in tmp:
        sum.append(i)
    tmp.append(i)
print(sum)

[2, 6]

## 1.sort a dictionary by value

In [20]:
d={'one':11,'two':25,'three':60,'four':24}

In [21]:
x=d.values()
sorted(x)

[11, 24, 25, 60]

## 2.add a key to a dictionary

In [22]:
d

{'one': 11, 'two': 25, 'three': 60, 'four': 24}

In [23]:
d['five']=98

In [24]:
d

{'one': 11, 'two': 25, 'three': 60, 'four': 24, 'five': 98}

## 3.divide all values in a dictionary by 10

In [25]:
d={i:i/10 for i in range(10)}
d

{0: 0.0,
 1: 0.1,
 2: 0.2,
 3: 0.3,
 4: 0.4,
 5: 0.5,
 6: 0.6,
 7: 0.7,
 8: 0.8,
 9: 0.9}

## 4.lower to upper case

In [26]:
d={10:"harish",20:"janu",30:"vicky"}

In [27]:
d

{10: 'harish', 20: 'janu', 30: 'vicky'}

In [28]:
x={i:d[i].upper() for i in d}

In [29]:
x

{10: 'HARISH', 20: 'JANU', 30: 'VICKY'}

In [30]:
#another way 
for i in d:
    print(i,':',d[i].upper())

10 : HARISH
20 : JANU
30 : VICKY

## 1.convert a string into list,tuple & set

In [ ]:
str1="I bought a car"
type(str1)

##